#MenuButtons{
	-fx-background-color: transparent;
	-fx-alignment: center_left;
}

#MenuButtons:hover{
	-fx-border-width: 0.0px 0.0px 0px 5px;
	-fx-border-color:white;
}

#tiles{
	-fx-pref-width: 50px;
	-fx-pref-height: 50px;
	-fx-background-position: center;
	-fx-background-color: white;
	-fx-border-radius: 0px;
	-fx-background-repeat: no-repeat;
}
#clean{
	-fx-pref-width: 100px;
	-fx-pref-height:30px;
	-fx-background-color: #0a4969;
	-fx-text-fill: white;
	-fx-background-radius: 7px;
	-fx-effect: dropshadow(gaussian,black,10,0.2,2,2);
	
}
#rect{
		-fx-fill: darkgray;
}
#label{
	-fx-text-fill: white;
	-fx-font-size: 20px;
	-fx-font-family:  timesnewroman;
}
#next{
	-fx-pref-width: 100px;
	-fx-pref-height:30px;
	-fx-background-color: #0a4969;
	-fx-text-fill: white;
	-fx-background-radius: 7px;
	-fx-effect: dropshadow(gaussian,black,10,0.2,2,2);
}
#agent{
	-fx-fill: Red ;
	-fx-stroke: black ;
	-fx-stroke-width: 3px;
}
#settingsline{
	-fx-effect: dropshadow(gaussian,black,10,0.4,0,0);
	-fx-stroke: lightgray;
}
#ColorLine{
	-fx-effect: dropshadow(gaussian,black,10,0.4,0,0);
	-fx-stroke: lightgray;
}
#sensor{
	-fx-background-color: #020302;
	-fx-opacity: 0.2;
}

.check-box .box{
	-fx-background-color: transparent;
	-fx-border-color: #0a4969;
	-fx-border-radius: 5px;
	-fx-border-width: 3px;
}
.check-box:selected .mark{
	-fx-background-color: #0a4969;
}
.check-box:selected .box{
	-fx-background-color: white;
	-fx-border-color: transparent;
	-fx-border-radius: 5px;
	-fx-border-width: 3px;
}

#height >.arrow-button> .arrow{
	-fx-background-color:#0a4969;
}
#width >.arrow-button> .arrow{
	-fx-background-color:#0a4969;
}
.color-picker>.arrow-button> .arrow{
	-fx-background-color: #0a4969;
}


#combo{
	-fx-background-color: transparent;
	-fx-border-radius: 5px;
	-fx-border-width: 3px;
	-fx-border-color: #0a4969;
	-fx-background-radius: 10px;
}
#combo >.arrow-button> .arrow{
	-fx-background-color: lightgray;
}
#combo >.arrow-button {
	-fx-background-color: #0a4969;
}

.slider > .track{
	-fx-background-color: white;
}
.slider > .thumb{
	-fx-background-color: #0a4969;
}
.spinner{
	-fx-background-color: null;
	-fx-background-radius: 3px;
	-fx-border-radius: 3px;
	-fx-border-color:#0a4969;
	-fx-border-width: 3px;
}
.spinner > .increment-arrow-button{
	-fx-background-color: white;
	-fx-background-radius: 3px;
	-fx-border-radius: 3px;
	-fx-border-color:#0a4969;
}
.spinner > .decrement-arrow-button{
	-fx-background-color: white;
	-fx-background-radius: 3px;
	-fx-border-radius: 3px;
	-fx-border-color:#0a4969;
}
.spinner > .increment-arrow-button> .increment-arrow{
	-fx-background-color: #0a4969;
}
.spinner > .decrement-arrow-button> .decrement-arrow{
	-fx-background-color: #0a4969;
}


.chart-series-line {    
    -fx-stroke-width: 2px;
    -fx-effect: null;
}
.default-color0.chart-line-symbol {
	-fx-background-color: transparent, black;
}
.default-color0.chart-series-line { 
	-fx-stroke: red;
}

#reset{
	-fx-background-color: transparent;
	-fx-border-radius: 5px;
	-fx-border-width:3px;
	-fx-border-color: #0a4969;
	
}

